{% extends 'base.html.twig' %}

{% block title %}Access denied{% endblock %}

{% block body %}
    <div class="container">
      <div align="center">
        {{ message|raw}}
      </div>
      <div align="center">
          Go back to <a href="{{ url }}">stores list</a>
      </div>
       
    </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
