{% extends 'base.html.twig' %}


{% block title %}Password recovery{% endblock %}

{% block body %}
    <h1>Congratulations!</h1>
    <p>New password has been submitted. Visit our <a href="{{ url }}">login page</a> to sign in your account</p>
{% endblock %}
