{% extends 'base.html.twig' %}


{% block title %}Success password recovery{% endblock %}

{% block body %}
    <h1>Congratulations!</h1>
    <p>Check your email for confirmation password recovery</p>
{% endblock %}
