{% extends 'base.html.twig' %}

{% block title %}Validation Error{% endblock %}


{% block body %}
    <h1>Ooops!</h1>
    <p>This store is already validated</p>
    <p>Please visit our <a href="{{ url }}">stores page</a> to work with your stores</p>
{% endblock %}
