{% extends 'base.html.twig' %}


{% block title %}Success Removing{% endblock %}

{% block body %}
    <h1>Congratulations!</h1>
    <p>Store {{ store_name }} was successfully removed. Visit our <a href="{{ url }}">stores page</a> to work with your stores</p>
{% endblock %}
