{% extends 'base.html.twig' %}


{% block title %}Store Added Successfully{% endblock %}

{% block body %}
    <h1>Congratulations!</h1>
    <p>Store is added. Check your email to confirm this store ownership.</p>    
    <p>You can visit our <a href="{{ url }}">stores page</a> to work with your stores</p>
{% endblock %}
