{% extends 'base.html.twig' %}


{% block title %}Store Removing{% endblock %}

{% block body %}
    <h1>Congratulations!</h1>
    <p> Store {{ store.name }} is almost removed. Check your email to confirm this removing.</p>
{% endblock %}
