{% extends 'base.html.twig' %}


{% block title %}Ticket closing{% endblock %}

{% block body %}
    <h1>Congratulations!</h1>
    <p>Ticket has been closed successfully. Visit our <a href="{{ url }}">tickets page</a> to view all your tickets</p>
{% endblock %}
