{% extends 'base.html.twig' %}


{% block title %}Success Verification{% endblock %}

{% block body %}
    <h1>Congratulations!</h1>
    <p>Verification complete. Visit our <a href="{{ url }}">login page</a> to sign in your account</p>
{% endblock %}
