.tr-head {
    border-bottom: 3px solid #ddd;
    }

.tr1-body {
    vertical-align:top; 
    border-bottom: 1px solid #ddd;
}

.deactivated {
    background-color: #ddd;
}

.newCoupon {
    background-color: #E0FFFF;
}

.couponActions {
    font-size: 10pt;
}

.tr2-body {
    vertical-align:top; 
    border-bottom: 3px solid #ddd;
}

.centered {
    text-align: center;
}

.col1{
    width: 2%;
}

.col2{
    width: 50%;
}

.col3{
    width: 10%;
}

.col4{
    width: 20%;
}

.col5{
    width: 9%;
}

.col6{
    width: 9%;
}

.couponImage {
    height: 50px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: #999;
}

div.reg_form {
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: white;
    padding: 10px;
}

div.logo img {
max-width: 100%;
    height: auto;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

div.container {
    width: 750px;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    }

body.reg_form {
background-color: lightblue;
}