{% extends 'base_email.html.twig' %}
{% block body %}
Hello {{ customer.name }}.</br>
To verify your registration at {{ server }} click the next link: <a href="http://{{ server }}{{ validation_link|raw }}">click to validate</a>
{% endblock %}