{% extends 'base_email.html.twig' %}
{% block body %}
Hello {{ customer.name }}.</br>
To verify you want recover your account password at {{ server }} click the next link: <a href="http://{{ server }}{{ validation_link|raw }}">click to recover</a>
{% endblock %}