{% block body %}
Hello {{ store.customer.name }}
To verify removing of store {{ store.name }} click the next link: <a href="http://{{ server }}{{ validation_link|raw }}">click to validate</a>
{% endblock %}